<!--Navigation bar-->
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/index">Evan Mackay</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contact" target="()">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Social Media
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="https://twitter.com/evan_mackay" target="()">Twitter</a>
                        <a class="dropdown-item" href="https://github.com/evanmackay" target="()">Github</a>
                        <a class="dropdown-item" href="https://www.linkedin.com/in/evan-mackay-a20792a0/" target="()">Linkedin</a>

                        
                      </div>
                      
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/portfolio" tabindex="-1" aria-disabled="true" target="()">Portfolio</a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
    </div>
    <!--About me section-->
    <div class="container">
        <div class="row">
                <div class="col-lg-8 col-xl-8 col-sm-8">
                    <div class="jumbotron my-5 shadow p-3 mb-5 bg-white rounded">
                        <h1 class="display-4">About Me</h1>
                        <hr class="my-4">
                        {{!-- IMG_3583[406].jpg --}}
                        <img src="/IMG_3583[406].jpg" alt="picture-of-me" class="float-left border border-info" style="width: 130px; height: 200px; margin-right: 10px;">
                        <p>My name is Evan Mackay. I am 24 years old. I have a wife, a son, and a child on the way. I am currently a part-time student at the University of Utah Coding Bootcamp. Before my interest in web development, I was a soldier in the United States Army for 5 years, working primarily in the medical field.
                        </p>
                        <p>I have a year in experience coding my own applications. I specialize in back end work with node.js and frontend work with React, and JavaScript/TypeScript. I have coding experience with HTML 5, CSS3, JavaScript, Jest Test writing, Node, Handlebars, React, mySQL, noSQL, Bootstrap frameworks, Materialize frameworks, Foundation frameworks, API's, and npms. My work can be viewed <a href="/portfolio">here</a>.</p>
                        <p>I am eager to learn and take pride in the work I do. I am always taking in new information from the world around me and enjoy learning new things. This is one of the reasons I decided to switch from the medical field to becoming a web developer. I wanted to work in a field that is always changing at a rapid pace. I wanted to do something that would never get boring.</p>
                        <p>As a person, I enjoy playing guitar, hanging out with my family and my 3 dogs, and playing disc golf.</p>
                        <p>If there is anything else you'd like to know about me, or if you have any questions you'd like to ask me, feel free to click the contact link above or click <a href="/contact" target="()">here</a>.</p>
                       
                      </div>

                </div>
        </div>
    </div>