 <!--navbar-->
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/index">Evan Mackay</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contact" target="()">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Social Media
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://twitter.com/evan_mackay" target="()">Twitter</a>
                        <a class="dropdown-item" href="https://github.com/evanmackay" target="()">Github</a>
                        <a class="dropdown-item" href="https://www.linkedin.com/in/evan-mackay-a20792a0/" target="()">Linkedin</a>

                        
                      </div>
                      
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://evanmackay.github.io/" tabindex="-1" aria-disabled="true" target="()">Portfolio</a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
    </div>
    <!--portfolio section-->
<div class="container my-5">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="jumbotron shadow p-3 mb-5 bg-white rounded">
                <h1 class="display-4">Portfolio</h1>
                <hr>
                <div class="media">
                    <img src="https://user-images.githubusercontent.com/66571617/98058117-2f29c800-1e01-11eb-8c9e-31b753690e4c.PNG" class="mr-3 float-left" alt="code-quiz-screenshot" style="height: 400px;">
                    <div class="media-body">
                      <h5 class="mt-0">Remember Them</h5>
                      <p>This is a project that me and 3 other people worked on. Three of the members of my team (including myself) are veterans of the US military. We wanted to create a way for us to honor those who have died in combat by creating an online database for people to view and pay their respects. The website has features that allows people to submit their own submissions, which are reviewed by myself and our group members for review. If they are legitimate, then we will approve them to be added to the database and can be viewed on our website. There is also a forum for people to tell their stories about their experiences in combat or other situations.</p>
                      <br>
                      <a href="https://protected-forest-25007.herokuapp.com/" target="()">Link to deployed site</a>
                      <br>
                      <a href="https://github.com/evanmackay/remember-them" target="()">Link to the GitHub repository</a>
                    </div>
                </div>
                  <hr>
                <div class="media">
                    <img src="https://github.com/evanmackay/note-taker/raw/main/photos-of-deployed-app/Screen%20Shot%202020-10-08%20at%207.17.26%20PM.png?raw=true" class="mr-3" alt="weather-app-screenshot" style="height: 400px;">
                    <div class="media-body">
                      <h5 class="mt-0">Note Taker</h5>
                      <p>This application allows users to create notes they would like to save for any sort of purpose. It stores all notes in a database which can be updated, or deleted.</p>
                      <br>
                      <a href="https://sleepy-chamber-69916.herokuapp.com/" target="()">Link to deployed site</a>
                      <br>
                      <a href="https://github.com/evanmackay/note-taker" target="()">Link to the GitHub repository</a>
                    </div>
                </div>
                  <hr>
                <div class="media">
                    <img src="/Screen Shot 2020-09-07 at 7.48.19 PM.png" class="mr-3" alt="random-video-game-app" style="height: 400px;">
                    <div class="media-body">
                      <h5 class="mt-0">Martha Stewarts Videogame Bible</h5>
                      <p>This is an application that I made with three other people. It allows you to search any video game using IGDB's API and will recommend a meal to try using Tasty's API. It also will give you a random video game based on the selected criteria in the second section.</p>
                      <br>
                      <a href="https://teknix420.github.io/Martha-Stewarts-VG-Bible/index.html" target="()">Link to deployed site</a>
                      <br>
                      <a href="https://github.com/evanmackay/Martha-Stewarts-VG-Bible" target="()">Link to the GitHub repository</a>
                    </div>
                </div>
                  
            </div>
        </div>
    </div>

</div>